@import url(https://fonts.googleapis.com/css2?family=Courgette&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.navbar {
  width: 100vw;
  background-color: rgba(212, 212, 212, 0.527);
  position: relative;
  padding: 1% 2% 1% 2%;
  height: 12vh;
  position: fixed;
  z-index: 5;
}

.container-fluid {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.container-fluid a {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
}

.navbar-brand {
  font-family: 'Courgette', cursive;
  font-size: 1.8rem !important;
}

.navbar-nav {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

.nav-link{
  list-style-type: none;
  margin: .5% 1.5%;
  text-transform: capitalize;
  width: auto;
}
