@import url(https://fonts.googleapis.com/css2?family=Courgette&display=swap);
.nav-space{
  justify-content: space-around;
}
.navbar-brand{
  font-family: 'Courgette', cursive;
  font-size: 1.2rem;
}
*{
  font-size: 1.2rem;
}

.mujhe::before{
  border: solid black 1px;
  /* background-color: red; */
  content: "";
  height: 100%;
  width:10%;
  /* margin-right: -50%; */
  /* margin-left: 2.5%; */
  margin: 0px auto;
  /* display:flex; */
  align-items: center;
  justify-content: center;
  position:absolute;
  top: auto;
  left: auto;
}

.nav-item:hover::after{
  content: "";
  top: auto;
  justify-content: center;
  position: absolute;
  border-bottom:solid black 1px;
  width: 20%;
  /* animation: animate forwards 1s linear; */
  /* animation: cubic-bezier(1, 0, 0, 1); */
  /* animation-duration: 2s; */
}

@keyframes animate {
  0%{
    border-bottom: solid black 1px;
    border-width: 0%;
  }
  50%{
    border-bottom: solid black 1px;
    border-width: 50%;
  }
  100%{
    border-bottom: solid black 1px;
    border-width: 100%;
  }
}